PipelineSecrets: {}
cleanup:
  Annotations:
    helm.sh/hook: pre-delete
    helm.sh/hook-delete-policy: hook-succeeded
  Args:
  - --cleanup
controllerbuild: {}
expose:
  Annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: hook-succeeded
  Args:
  - --v
  - 4
  config:
    domain: dev-waiverforeverk8s.com
    exposer: Ingress
    http: "true"
jenkins:
  Servers:
    Global:
      EnvVars:
        DOCKER_REGISTRY: 288298902208.dkr.ecr.us-east-1.amazonaws.com
        TILLER_NAMESPACE: kube-system
prow: {}
WFGlobalEnv:
  ENV: staging
  QS3_TEST_SERVER: "\"False\""
  WFCRM_SERVER: https://crm-api.waiverforeverk8s.com/
  WF_ROOT_COOKIE_DOMAIN: .waiverforever.com
WFGlobalSecret:
  ACME_KEY: bVVrQndYUExQeE5MS2tjQWFNX3Rtcldla0ZacjQ1V2N3ZXpwdmdTY3M0OC5hTzFwME1UZENJS3NmQnBERzBhLU03d1YyWmpzOVkxazZhbnZhenh5MWFB
  ACME_TOKEN: bVVrQndYUExQeE5MS2tjQWFNX3Rtcldla0ZacjQ1V2N3ZXpwdmdTY3M0OA==
  AWS_KEY: QUtJQUlPSUo1TlZVRlNUQ0UzQlE=
  AWS_SECRET: bDMvZGt4OEdmbmRITnlxazVvQ3BlVzRNdmVwWUFKRFpzVU9UT1hkZA==
  AWS_REGION: dXMtZWFzdC0x
  REDIS_URL: cmVkaXM6Ly86ODkwNDA3QHB1Yi1yZWRpcy0xMDgyNC51cy1lYXN0LTEtMS4xLmVjMi5nYXJhbnRpYWRhdGEuY29tOjEwODI0Lw==
  REDIS_ACTIVATE_URL: cmVkaXM6Ly86ODkwNDA3QHB1Yi1yZWRpcy0xNjA5NS51cy1lYXN0LTEtMS4xLmVjMi5nYXJhbnRpYWRhdGEuY29tOjE2MDk1Lw==
  REDIS_SESSION_URL: cmVkaXM6Ly86ODkwNDA3QHB1Yi1yZWRpcy0xMjQ2NS51cy1lYXN0LTEtMS4xLmVjMi5nYXJhbnRpYWRhdGEuY29tOjEyNDY1Lw==
  REDIS_PDF_POOL_URL: cmVkaXM6Ly86ODkwNDA3QHB1Yi1yZWRpcy0xODQzMC51cy1lYXN0LTEtMS4xLmVjMi5nYXJhbnRpYWRhdGEuY29tOjE4NDMwLw==
  MONGO_URL: bW9uZ29kYjovL3FzMzpqdTZUbnI3Y2I0dXphellHWTdYejJZSjQ4RUtWWERBcUBkczA1NTk0My1hMC5tb25nb2xhYi5jb206NTU5NDMsZHMwNTU5NDMtYTEubW9uZ29sYWIuY29tOjU1OTQzL3FzMy1wcm9kP3JlcGxpY2FTZXQ9cnMtZHMwNTU5NDM=
  MONGO_DATA_URL: bW9uZ29kYjovL3FzMzp5S252aE1xdzJ0akFUMm1UbWFXRVJqejR0Q0VGUFpEOEBkczAxMzEzMC1hMC5tbGFiLmNvbToxMzEzMCxkczAxMzEzMC1hMS5tbGFiLmNvbToxMzEzMC93YWl2ZXJfZGF0YT9yZXBsaWNhU2V0PXJzLWRzMDEzMTMw
  RABBITMQ_URL: YW1xcDovL2R3Z3FqaW1mOjBPVEJ2aS1Rc0Y5RWdYSDJBdzdXT0V4X0NoVjNoZlRSQGZpc2gucm1xLmNsb3VkYW1xcC5jb20vZHdncWppbWY=
  STRIPE_API_KEY: MkdzNlVkd0t2dXRrbDU0YU5COTAyQ2lGdTdvQ1VmNlY=
  STRIPE_PUBLIC_KEY: cGtfZEthYlFwTHJGa1poc2EzVU1CVHhxOHM5WHI3M20=
  STRIPE_API_VERSION: MjAxOS0wMi0xOQ==
  INTERCOM_APP_ID: cnJzcDY0b2Y=
  INTERCOM_ACCESS_TOKEN: ZEc5ck9tRTRZV0pqWTJGaFh6Sm1NbVJmTkRRMVkxODVPV0poWDJGbFkyUmhPRGd6TURnMU1Ub3hPakE9
  INTERCOM_SECRET_IOS: bUwyUTRNbXpFeU9ERUpCWGo2TDZRLVNveDBkMUhyZHdHUVozY1Fkaw==
  INTERCOM_SECRET_ANDROID: djZUQnl0UG5yTktkV1hLdDFYckE2SWh2ZzlveFhyRjlzVWVqdHVsVw==
  TWILIO_ACCOUNT_SID: QUM2NDFmMzNkYmVmYmU0ZmNhOWUxY2VmYzdmMzgxM2NjNQ==
  TWILIO_AUTH_TOKEN: NzA5YTIxYmE2NGRjZDgxOGNkYjFjMzE4MmI3OTcxYmI=
  DROPBOX_APP_KEY: OGtqaG42MTI5OWEydnZm
  DROPBOX_APP_SECRET: M2N2MXN4c3kxdWppYzE4
  CONSTANT_CONTACT_API_KEY: YWJ3NW14cHl2cjZkYTU2enY2anRnZnAz
  MAILCHIMP_API_KEY: YmZlOTg0MjA5ZDU2NTQ3ZDQ4NDY5NjgwZjg1YTA0MWItdXMy
  MAILCHIMP_APP_CLIENT_ID: NzkxMDQwMDIxODc5
  MAILCHIMP_APP_CLIENT_SECRET: M2E3ODdjYWUwN2Y1YzI2NzgyZjYzMmIzY2FhZDdjZGE=
  MAILCHIMP_LIST_ID: ODA3MTdkZTU0MQ==
  MAILGUN_DOMAIN: bWFpbGd1bi53YWl2ZXJmb3JldmVyLmNvbQ==
  MAILGUN_APIKEY: Mzg5ZDdiYmJlNmIyZWExZWM1N2Q4ZmExZDY1OTQ1Y2YtYjljMTVmNGMtYzJiNzA3NDQ=
  MAILGUN_PUB_APIKEY: cHVia2V5LTlkZTM2NTM4NDRjNDI2NjkzMzBmYzM1NDBkYTlmOGM2
  SENTRY_URL: aHR0cHM6Ly84ZmI3YmI3MmQzODU0MjdjYmI2NDI2ZDJmN2Y0ODkzMEBzZW50cnkuaW8vMTM1NzMxNw==
  ES_HOST: aHR0cHM6Ly9yZWFkYWxsOjFlUkhXeUtUSU00YlUyVm1rZDlBQGVsYXN0aWNzZWFyY2gud2FpdmVyZm9yZXZlcms4cy5jb206OTIwMC8=
